h2 {
    background: blue;
}
div {
    background-color: blue;
}
p {
    background: blue;
}
ul {
    background: blue;
}

a, button, strong {
    background: red
}

.d1 {
    border: 2px solid black;
    background: rgb(146,146,188);
}
.b1 {
    background: green;
    width: 180px;
    height: 80px
}

.d2 {
    background-color: purple;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    line-height: 170px;
}